<ul class="main-navigation">
  <li style="float:left;margin-right:7px"><a class="nav" href="http://mirreal.net">HOME</a></li>
  <li style="float:left;margin-right:7px"><a class="nav" href="{{ root_url }}/">BLOG</a></li>
  <li style='float:left;margin-right:7px'><a class='nav' href="{{ root_url }}/archives">ARCHIVES</a></li>
  <li style="float:left;margin-right:7px"><a class="nav" href="{{ root_url }}/note">NOTE</a></li>
  <li style="float:left;margin-right:7px"><a class="nav" href="{{ root_url }}/weekly">WEEKLY</a></li>
  <li style="float:left;margin-right:7px"><a class="nav" href="{{ root_url }}/project">PROJECT</a></li>
  <li style="float:left;margin-right:7px"><a class="nav" href="{{ root_url }}/about">ABOUT</a></li>
</ul><br><br>
